<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a website for user to extract the US stock information and transaction data, and analysis.">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Sam Wu">
    <link rel="stylesheet" href="{{ url_for('static', filename="landingPage.css") }}">
    <script type="text/javascript" src={{ url_for('static', filename="landPage.js") }}></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Raleway:wght@300&display=swap" rel="stylesheet"> 
    <title>BetaStock - The best investment webpage ever</title>
</head>
<body onload="autoSwap()">
        <section id="slide1" class="auto" style="display: block;">
            <div id="overlay" class="auto"></div>
            <div id="visibility">
                <div id="navBar" style="padding: 10px;"></div>
                    <label id="logo" style="font-size: 50px;margin-right:70px;letter-spacing:normal" class="space logo-color heading">BetaStock</label> 
                    <a class="white paragraph" href="#aboutUs">About Us</a>
                    <a class="white paragraph" href="#contact">Contact</a>
                    <a class="white paragraph" href="#">More</a>
                    <a style="margin-left:700px;" class="white paragraph" href="signIn">Login</a>
                    <a class="white paragraph" href="signUp">
                        <button style="font-size: 18px;width: 100px;" class="btn white logo-color paragraph"><b>SignUp</b></button>
                    </a>
                <div id="text">
                    <h1 class="space white heading" style="width: 700px;">LOOKING FOR SMART INVESTMENT</h1>
                    <p class="space white paragraph">we help you to screen out the most valuable stock accurately to help you success</p>
                    <a href="signUp"><button class="btn margin white logo-color paragraph" style="font-size: 18px;margin-left: 44px;"><b>TAKE ACTION</b></button></a>
                </div>
            </div>
            <div id="slideButton">
                <button id="left-arrow" onclick="swapSlide()"><img class="arrow" src= {{ url_for('static', filename="left-arrow.svg") }} style="left: 0%;"></button>
                <button id="right-arrow" onclick="swapSlide()"><img class="arrow" src= {{ url_for('static', filename="right-arrow.svg") }} style="right: 0%;"></button>
            </div>
        </section>
        <section id="slide2" class="auto" style="display: none;">
            <div id="overlay" class="auto"></div>
            <div id="visibility">
                <div id="navBar" style="padding: 10px;"></div>
                    <label id="logo" style="font-size: 50px;margin-right:70px;color: rgba(0, 195, 255, 0.815);letter-spacing:normal;" class="space logo-color heading">BetaStock</label> 
                    <a class="white paragraph" href="#aboutUs">About Us</a>
                    <a class="white paragraph" href="#contact">Contact</a>
                    <a class="white paragraph" href="#">More</a>
                    <a style="margin-left:700px;"class="white paragraph" href="{{ url_for("signIn") }}">Login</a>
                    <a class="white paragraph" href="{{ url_for("signUp") }}">
                        <button style="font-size: 18px;width: 100px;background-color: rgba(0, 195, 255, 0.815);" class="btn white logo-color paragraph"><b>SignUp</b></button>
                    </a>
                <div id="text">
                    <h1 class="space white heading" style="margin-left:780px;letter-spacing:1px;margin-top: 280px;">STOP WASTING YOUR TIME ON SEARCHING</h1>
                    <p class="space white paragraph" style="margin-left:780px;">just enjoy your life and we will get this job done</p>
                    <a href="signUp"><button class="btn margin white logo-color paragraph" style="font-size: 18px;margin-left:827px;background-color: rgba(0, 195, 255, 0.966);"><b>TAKE ACTION</b></button></a>
                </div>
            </div>
            <div id="slideButton">
                <button id="left-arrow" onclick="swapSlide()"><img class="arrow" src={{ url_for('static', filename="left-arrow.svg") }} style="left: 0%;"></button>
                <button id="right-arrow" onclick="swapSlide()"><img class="arrow" src= {{ url_for('static', filename="right-arrow.svg") }} style="right: 0%;"></button>
            </div>
        </section>
        <section id="content2" style="text-align:center;">
            <h1 id="aboutUs" class="heading absolute" style="margin-left:880px;margin-top:150px; font-size: 40px">ABOUT US</h1>
            <div class="box relative" style="height: 500px;box-shadow: -4px 5px 5px 3px rgba(0, 0, 0, 0.452);left:35px;">
                <h2 class="absolute box-heading">COMPARABLE</h2>
                <img class="absolute box-image" src={{ url_for('static', filename="compare.png") }}>
                <p class="paragraph box-text">COMPETE WITH USERS TO BE THE SMARTEST INVESTOR</p>
            </div>
            <div class="box relative" style="box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.486);z-index:1">
                <h2 class="absolute box-heading">TESTABILITY</h2>
                <p class="white absolute paragraph"></p>
                <p class="paragraph box-text" style="margin-left: 80px;">WE PROVIDE VIRTUAL-TRANSACTION</p>
                <img class="absolute box-image" style="margin-left: 125px;" src={{ url_for('static', filename="try.png") }}>
            </div>
            <div class="box relative" style="height: 500px;box-shadow: 4px 5px 5px 3px rgba(0, 0, 0, 0.466);right:35px;">
                <h2 class="absolute box-heading">PREDICTABILITY</h2>
                <img class="absolute box-image" src={{ url_for('static', filename="predict.png") }}>
                <p class="white absolute paragraph"></p>
                <p class="paragraph box-text">WE SHOW THE BEST TO YOU</p>
            </div>
        </section>
        <div id="bg-color" class="relative"></div>
        <section id="footer">
            <div style="padding: 60px;"></div>
            <a class="white paragraph" style="padding-left:100px;" href="#aboutUs">About Us</a><a id="contact" class="white paragraph" href="#">Contact</a><a class="white paragraph" href="#">More</a> 
            <label id="logoFooter" style="font-size: 50px;margin-left:300px;letter-spacing:normal;" class="space logo-color heading">BetaStock</label> 
            <br /><br /><br />
            <a class="white paragraph" style="padding-left:100px;" href="#">Blog</a><br /><br />
            <form method='post' action="/">
                <p class="paragraph white" style="margin-left:807px;">Fill in your email to get our updated status via subscription</p><br />
                <input type="email" id="emailField" class="paragraph white" name="emailField" placeholder="Enter your email here" style="width:550px;height:40px;margin-left:807px;border-radius:20px;" />
                <a href="#emailField"><button id="subscribe" type="submit" style="width: 140px;margin-bottom:50px;padding:10px 20px;" class="btn white logo-color paragraph">Subscribe</button></a>
                <br /><br />
            </form>
            <p class="paragraph white space">© {{ systemYear }} BetaStock. All rights reserved.</p><br /><br /><br />
            <p class="paragraph white space">All investments involve risks, including the possible loss of capital.</p><br />
        </section>
</body>
</html>

