    body {
        min-width: 1200px;
        margin: 0%;
        background-color: #14141442;
        background-repeat: no-repeat;
        background-size: cover;
        height: 91.5vh;
    }
    .heading {
        font-family: 'Anton', sans-serif;
        letter-spacing: 5px;
        font-size: 50px;
    }
    #loginPage {
        margin: auto;
        width: 1200px;
        height: 800px;
        margin-top: 80px;
        background-image: url('../images/loginBG.jpg');
        background-size: cover;
        text-align: center;
        position: relative;
        border-radius: 15px;
        box-shadow: 26px 20px #86650bbc;

    }
    #loginBG {
        float: left;
        width: 60%;
        height: 100%;
        background-size: cover;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    #loginField {
        float: right;
        width: 40%;
        height: 100%;
        background-color: #252525c5;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .logo-color {
        color: #e4a216;  
    }
    .absolute {
        position:absolute;
    }
    .paragraph {
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        line-height: 20px;
        color: #fffefcb0;
    }
    #submitBtn {
        border-radius: 20px;
        padding: 10px 80px;
        margin-top: 16px;
        background-color: #b8830fde;
        border: none;
        cursor: pointer;
        color: #FFFEFC;
        font-size: 20px;
        text-align: center; 
    }
    input {
        border:none;
        background: none;
        width:300px;
        border-bottom: 3px solid #ac7a0e;
        outline: none;
    }
    input::placeholder {
        color:white;
        font-weight:400;

    }