body {
    min-width: 1400px;
    background-color: rgba(223, 155, 155, 0.76);
}
#container {
    margin: auto;
    width: 1400px;
    height: 90vh;
    margin-top: 50px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
}
#bg {
    width:60%;
    height: 90vh;
    background-image: url(../images/bg.png);
    background-size: cover;
    float: left;
    position: relative;
    border-bottom-left-radius: 150px;
}
#content {
    width:40%;
    height: 90vh;
    background-color: white;
    float: right;
    border-top-right-radius: 150px;
}
.heading {
    margin-top: 300px;
    font-size: 50px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
    color: white;
}
.paragraph {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #AD3F7D;
    margin-left: 104px;
}
#logo {
    margin-left: 535px;
    margin-top: 720px;
}
#signUp {
    color: #AD3F7D;
    margin-left: 105px;
    margin-top: 90px;
}
input {
    outline: 0;
    margin-top: 15px;
    width:330px;
    border:none;
    border-bottom: 3px solid #CE7090;
}
#submitBtn {
    padding: 15px 60px;
    margin-top: 50px;
    margin-left: 155px;
    background-color: #ad3f7de1;
    color: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    width:250px;
}
label {
    color: #CE7090;
}